.newReviewForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  input,
  select {
    margin-bottom: 10px;
  }
}
.error-msg-reviewForm {
  color: rgb(228, 87, 87);
  text-align: center;
  margin-top: 2vh;
}
